@import "tailwindcss";

@font-face {
  font-family: 'Urbane';
  src: url('/Urbane-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/Product-Sans.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #FFFCFA;
  --foreground: #171717;
  --font-urbane: 'Urbane', Arial, sans-serif;
  --font-productsans: 'Product Sans', Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbane);
  --font-product: var(--font-productsans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbane);
}
